{{#partial "title" }}
    Staff details
{{/partial}}


{{#partial "content"}}

    <h1>Staff Directory</h1>
    <h4>Staff details.</h4>
    <p>Name: {{ staff }},</p>
    <p>Department: {{ department }},</p>
    <p>Section: {{ section }},</p>
    <p>Role: {{ role }},</p>
    <p>Responsibilities: {{ responsibilities }},</p>




{{/partial}}

{{> layout.hbs}}